@page "/transacoes"
@using System.Globalization;

<!-- Título -->
<div class="d-flex justify-content-between align-items-center">
    <p class="m-0 h2 text-dark">Minhas Transações</p>

    <a href="/transacoes/cadastrar"
       class="btn text-primary fw-bolder btn-sm d-none d-sm-inline-block border border-primary rounded"
       style="font-size: 1.2rem">
        Nova Transação
    </a>
</div>

<hr />

@if (model is not null)
{
    <div class="card shadow">

        <!-- Filtro data -->
        <div class="card-header py-3 d-flex justify-content-center align-items-center">

            <button @onclick="async () => await VoltarMes()" type="button"
                    class="btn btn-light rounded-circle text-center text-primary fw-bold"
                    style="width: 40px; height: 40px; font-size: 1.4rem; line-height: 0">
                &laquo;
            </button>

            <p class="m-0 mx-3 fw-bold border border-primary btn rounded-pill text-primary">@(DataBusca.ToString("MMM/yyyy"))</p>

            <button @onclick="async () => await AvancarMes()" type="button"
                    class="btn btn-light rounded-circle text-center text-primary fw-bold"
                    style="width: 40px; height: 40px; font-size: 1.4rem; line-height: 0">
                &raquo;
            </button>

            <!-- Export -->
            <!--
            <button class="btn text-primary fw-bolder btn-sm d-none d-sm-inline-block border border-primary rounded"
                    role="button">
                <i class="fas fa-download fa-sm text-primary-50"></i>
                &nbsp;Exportar Dados
            </button>
            -->
        </div>

        <!-- Tabela -->
        <div class="card-body">

            <!-- Qtde em exibição + Filtro de pesquisa -->
            <!--
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                            <label class="form-label">
                                Exibir&nbsp;
                                <select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>
            -->

            <!-- Tabela -->
            @if (model.Any())
            {
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th style="width: 40px"></th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Data</th>
                                <th>Conta</th>
                                <th>Valor</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transacao in model)
                            {
                                <tr>
                                    <!-- Status -->
                                    <td class="align-middle">
                                        @if (transacao.DataEfetivacao is null)
                                        {
                                            <i class="fa-solid fa-circle-exclamation text-warning" style="font-size: 1.4rem"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-circle-check text-success" style="font-size: 1.4rem"></i>
                                        }
                                    </td>

                                    <!-- Descrição -->
                                    <td class="align-middle">
                                        @(transacao.TipoTransacao == TransacaoTipo.Unica
                                            ? transacao.Descricao
                                            : $"{transacao.Descricao} - ({transacao.ParcelaAtual}/{transacao.NumeroParcelas})")
                                    </td>

                                    <!-- Categoria -->
                                    <td class="align-middle">
                                        @(MyCoreBankingApp.ConverterEnumCategoriaParaString(transacao.Categoria))
                                    </td>

                                    <!-- Data -->
                                    <td class="align-middle">
                                        @(transacao.DataTransacao.ToShortDateString())
                                    </td>

                                    <!-- Conta -->
                                    <td class="align-middle">
                                        @(transacao.Conta)
                                    </td>

                                    <!-- Valor -->
                                    <td class="align-middle">
                                        @if (transacao.TipoOperacao == OperacaoTipo.Despesa)
                                        {
                                            <p class="m-0 text-danger">
                                                - @(transacao.TipoTransacao == TransacaoTipo.Unica
                                                  ? transacao.Valor.ToString("C", CultureInfo.GetCultureInfo("pt-BR"))
                                                  : transacao.ValorParcela!.Value.ToString("C", CultureInfo.GetCultureInfo("pt-BR")))
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="m-0 text-success">
                                                + @(transacao.TipoTransacao == TransacaoTipo.Unica
                                                  ? transacao.Valor.ToString("C", CultureInfo.GetCultureInfo("pt-BR"))
                                                  : transacao.ValorParcela!.Value.ToString("C", CultureInfo.GetCultureInfo("pt-BR")))
                                            </p>
                                        }
                                    </td>

                                    <!-- Ação: Efetivar -->
                                    <td class="align-middle text-center">
                                        @if (transacao.DataEfetivacao is null)
                                        {
                                            <a @onclick="AbrirModalEfetivacao" title="Efetivar" class="cursor-pointer">
                                                <i class="fa-solid fa-circle-check text-secondary" style="font-size: 1.4rem"></i>
                                            </a>
                                        }
                                    </td>

                                    <!-- Ação: Editar -->
                                    <td class="align-middle text-center">
                                        <a href="/transacoes/@(transacao.Id)" title="Editar">
                                            <i class="fa-solid fa-pen-to-square text-info" style="font-size: 1.4rem"></i>
                                        </a>
                                    </td>

                                    <!-- Ação: Excluir -->
                                    <td class="align-middle text-center">
                                        <a @onclick="async () => await AbrirModalExcluirTransacao(transacao.Id)" title="Excluir" class="cursor-pointer">
                                            <i class="fa-solid fa-trash text-danger" style="font-size: 1.4rem"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Qtde em exibição + Paginação-->
                <!--
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Exibindo 1 ao 10 de 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                -->
            }
            else
            {
                <p class="m-0 h5 text-dark text-center">Nenhuma transação nesse mês.</p>
            }

        </div>
    </div>
}


@code {
    IReadOnlyCollection<TransacaoModel> model = Array.Empty<TransacaoModel>();

    public DateTime DataBusca { get; set; } = DateTime.Now;

    protected override async Task OnParametersSetAsync()
    {
        await CarregarTransacoes();
    }

    #region [+ Carregar Transacoes]

    async Task CarregarTransacoes()
    {
        var modalLoading = MyCoreBankingApp.ShowLoading();

        await Task.Delay(200);

        var result = await MyCoreBankingApp.ObterTransacoes(mes: DataBusca.Month, ano: DataBusca.Year);

        if (result is null)
        {
            model = Array.Empty<TransacaoModel>();
        }
        else
        {
            model = result;
        }

        modalLoading.Close();
    }

    async Task VoltarMes()
    {
        DataBusca = DataBusca.AddMonths(-1);

        await CarregarTransacoes();
    }

    async Task AvancarMes()
    {
        DataBusca = DataBusca.AddMonths(1);

        await CarregarTransacoes();
    }

    #endregion

    #region [+ Efetivar Transação]

    void AbrirModalEfetivacao()
    {

    }

    #endregion

    #region [+ Excluir Transação]

    async Task AbrirModalExcluirTransacao(Guid transacaoId)
    {
        Dictionary<string, object> parameters = new()
        {
            {nameof(DeleteModal.Title),"Exclusão de transação" },
            {nameof(DeleteModal.Message), "Tem certeza de que deseja excluir a transação?"},
            {nameof(DeleteModal.BtnText), "Confirmar" }
        };

        var modalResult = await MyCoreBankingApp.ShowModal<DeleteModal>(parameters).Result;

        if (modalResult.Cancelled)
        {
            return;
        }

        await ExcluirTransacao(transacaoId);
    }

    async Task ExcluirTransacao(Guid transacaoId)
    {
        var modalLoading = MyCoreBankingApp.ShowLoading();

        var result = await MyCoreBankingApp.ExcluirTransacao(transacaoId);

        if (result)
        {
            await CarregarTransacoes();
        }

        modalLoading.Close();
    }

    #endregion
}