@page "/transacoes"
@using System.Globalization;

<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-4">
    <h3 class="text-dark">Minhas Transações</h3>
    <a href="/transacoes/cadastrar"
       title="cadastrar nova transação"
       class="text-primary text-center fw-bold border border-primary rounded m-0 py-1 px-2"
       style="text-decoration: none;">
        Cadastrar nova Transação
    </a>
</div>

<button class="btn btn-primary dropdown-toggle" style="margin-bottom:10px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Nova Transação</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/cadastroTransacaoPagar">Para Pagar</a></li>
    <li><a class="dropdown-item" href="/cadastroTransacaoPagas">Paga</a></li>
</ul>



<div class="card shadow">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <p class="text-primary m-0 fw-bold">Extrato</p>
        <button class="btn text-primary fw-bolder btn-sm d-none d-sm-inline-block border border-primary rounded"
                role="button">
            <i class="fas fa-download fa-sm text-primary-50"></i>
            &nbsp;Exportar Dados
        </button>
    </div>

    <div class="card-body">

        <!-- Topo tabela -->
        <div class="row">
            <!-- Qtde em exibição -->
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <label class="form-label">
                        Exibir&nbsp;
                        <select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                    </label>
                </div>
            </div>

            <!-- Filtro de pesquisa -->
            <div class="col-md-6">
                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
            </div>
        </div>

        <!-- Tabela -->
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">
                            Mercado
                        </td>
                        <td class="align-middle">@($"{DateTime.Now:dd/MM/yyyy} às {DateTime.Now:HH}h{DateTime.Now:mm}m")</td>
                        <td class="align-middle">@(rnd.Next(5000).ToString("C", CultureInfo.GetCultureInfo("pt-BR")))</td>
                        <td class="align-middle text-center">
                            <button type="button" class="btn" @onclick="() => IrParaEdicaoTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-pen-to-square text-info"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn" @onclick="() => ExcluirTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            Mercado
                        </td>
                        <td class="align-middle">@($"{DateTime.Now:dd/MM/yyyy} às {DateTime.Now:HH}h{DateTime.Now:mm}m")</td>
                        <td class="align-middle">@(rnd.Next(5000).ToString("C", CultureInfo.GetCultureInfo("pt-BR")))</td>
                        <td class="align-middle text-center">
                            <button type="button" class="btn" @onclick="() => IrParaEdicaoTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-pen-to-square text-info"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn" @onclick="() => ExcluirTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle">
                            Mercado
                        </td>
                        <td class="align-middle">@($"{DateTime.Now:dd/MM/yyyy} às {DateTime.Now:HH}h{DateTime.Now:mm}m")</td>
                        <td class="align-middle">@(rnd.Next(5000).ToString("C", CultureInfo.GetCultureInfo("pt-BR")))</td>
                        <td class="align-middle text-center">
                            <button type="button" class="btn" @onclick="() => IrParaEdicaoTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-pen-to-square text-info"></i>
                            </button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn" @onclick="() => ExcluirTransacao(Guid.NewGuid())">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Qtde em exibição + Paginação-->
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Exibindo 1 ao 10 de 27</p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


@code {
    Random rnd = new();

    void IrParaCadastroTransacao()
    {
        Navigation.NavigateTo("/transacoes/cadastrar");
    }

    void IrParaEdicaoTransacao(Guid id)
    {
        Navigation.NavigateTo($"/transacoes/{id}");
    }

    void ExcluirTransacao(Guid id)
    {
        // Abrir Modal para exclusão . . .
    }
}